li(class=activePage=="dashboard" ? "active" : "")
  a(href='#dashboard', data-toggle="collapse")
    i.material-icons dashboard
    p
      | Sales
      b.caret
  #dashboard.collapse
    ul.nav
      li(class=subActivePage=="distributed-domains" ? "active" : "")
        a(href="/dashboard/distributed-domains")
          span.sidebar-normal Distributed Domains
      li(class=subActivePage=="preorder-domains" ? "active" : "")
        a(href="/dashboard/preorder-domains")
          span.sidebar-normal PreOrder Domain
      li(class=subActivePage=="succeed-domains" ? "active" : "")
        a(href="/dashboard/succeed-domains")
          span.sidebar-normal Sold Domain
      li(class=subActivePage=="invested-domains" ? "active" : "")
        a(href="/dashboard/invested-domains")
          span.sidebar-normal Invested Domain
