li(class=activePage=="dashboard" ? "active" : "")
  a(href='#dashboard', data-toggle="collapse")
    i.material-icons dashboard
    p
      | Dashboard
      b.caret
  #dashboard.collapse
    ul.nav
      li(class=subActivePage=="sale" ? "active" : "")
        a(href="/dashboard/sale")
          span.sidebar-normal Distributed Domains
      li(class=subActivePage=="preorderdomain" ? "active" : "")
        a(href="/dashboard/preorderdomain")
          span.sidebar-normal PreOrder Domain
      li(class=subActivePage=="succeeddomain" ? "active" : "")
        a(href="/dashboard/succeeddomain")
          span.sidebar-normal Sold Domain
      li(class=subActivePage=="investdomain" ? "active" : "")
        a(href="/dashboard/investdomain")
          span.sidebar-normal Invested Domain
      li(class=subActivePage=="sale-statistics" ? "active" : "")
        a(href="/dashboard/sale-statistics")
          span.sidebar-normal Statistics
